:root{
	--bleu-fonce:rgb(35 53 96);
	--bleu-clair: rgb(105 146 180);
	--vert:rgb(30 132 108);
	--vert-fonce :rgb(25 105 87);
	--color-text-black: rgb(0 0 0);
	--color-text-white:rgb(255 255 255);
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: var(--bleu-fonce);
	text-align: center;
	font-size: xx-large;
}

/*******************************/
/*       HEADER & FOOTER       */
/*******************************/

#plan-du-site-footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
}

header,
footer {
	background-color: var(--bleu-fonce);
	padding: 0 5vw 0 2vw;
}

.nav,
footer article {
	display: flex;
	align-items: center;
}

footer a, .nav-link {
	padding: 14px 16px;
	margin-right: 9px;
	text-decoration: none;
	color: var(--color-text-white);
	text-transform: uppercase;
	transition: width 0.3s;
	-webkit-transition: width 0.3s;
}

.nav-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: var(--color-text-white);
	transition: width 0.3s;
}

.nav-link:hover::after {
	width: 100%;
}
.videlarge {
	flex-grow: 1;
}

/*******************************/
/*       Vidéo.mp4       */
/*******************************/
#video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
 
video {
	width: 100%;
	height: 100%;
  }
/*******************************/
/*       Tab        */
/*******************************/
.container-tab {
	display: flex;
  
}

.tab-container {
  margin-left: 7vw;
  width: 42vw;
	padding: 50px;
}

.table-acceuil {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background-color: var(--vert-fonce);
}

/* Style the buttons inside the tab */
.table-acceuil button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: var(--color-text-white);
}

/* Change background color of buttons on hover */
.table-acceuil button:hover {
  background-color:var(--vert);
}

/* Create an active/current tablink class */
.table-acceuil button.active {
  background-color:var(--vert);
}

/* Style the tab content */
.tabcontent {
  border-radius: 0 0 10px 10px;
  height: 52vh;
  text-align: justify;
  padding: 6px 12px;
  background-color: var(--vert);
  color: var(--color-text-white);
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  justify-content: center;
  flex-direction: column;
  font-size: large;
}

.tabcontent p:last-child{
  padding: 50px;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .tab-container {
    padding: 0;
    margin-top: 50px;
    width: 84vw;
    margin-left: 5vw;

  }

  .table-acceuil {
    width: 84vw;
  }
.container-tab {
  align-items: center;
}

}

/*******************************/
/*       images tab        */
/*******************************/
.image-container-tab {
	flex: 50%; /* L'image prend 50% de la largeur */
	padding: 50px;
  }

  /* Style the image */
.image-container-tab img {
	width: 75%;
	border-radius: 10px;
  
  }

 /* Media Queries */
@media screen and (max-width: 600px) {
  .image-container-tab{
    padding: 0px;
    display: flex;
    align-items: center;
    width: 90vw;
    max-width: 100vw;
    margin-left: 5vw;
    justify-content: center;
    margin-top: 10vw;
  }
}
  /**************************************/
  /*       section bourse au jeux       */
  /**************************************/
  .flex-container {
    display: flex;
    align-items: center;
    background-color: var(--bleu-clair);
    position: relative;
}

.flex-container::before, .flex-container::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
}

.flex-container::before {
    background-image: url(../img/arrondiegauche.png);
    background-position: left bottom;
    left: 0;
}

.flex-container::after {
    background-image: url(../img/arrondiedroite.png);
    background-position: right top;
    right: 0;
	filter: drop-shadow(0 10px 10px #000);
	z-index: 0;
}

.image-container-bj {
    flex: 50%; /* L'image prend 50% de la largeur */
    padding: 50px;
}

.image-container-bj img {
    max-width: 100vh;
    margin-left: 7vw;
    width: 34vw;
    border-radius: 10px;
}

.text-container-bj {
    flex: 50%; 
    max-width: 100vh;
    width: 35vw;
    padding: 50px;
    margin-right: 7vw;
    object-fit: cover;
    text-align: justify;
    background: url(../img/flocon.png) no-repeat;
    background-size: contain;
    background-position: center center;
	  z-index: 1;
}

.boutton-LJ {
  display: block;
  margin: 20px auto;
  background-color: #d6d6d6;
  color: var(--bleu-fonce);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 18px;  
}

.boutton-LJ:hover {
    background-color: #E8E8E8;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
    margin-top: 10vw;
  }

  .image-container-bj, .text-container-bj {
    width: 80vw;
    margin: 0;
    padding: 20px;
  }

  .image-container-bj img {
    width: 80vw;
    margin: 0;
    max-width: none;
  }
}
 /**************************************/
  /*    section tournoi 1000 sabords   */
  /**************************************/
  .flex-container-tournoi {
    display: flex;
    justify-content: space-between;
}

.text-container-tournoi {
  width: 35vw;
  margin-left: 7vw;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
	text-align: justify;
}

.image-container-tournoi {
    width: 50%;
    padding: 50px;
}

.image-container-tournoi img {
	width: 65%;
	max-width: 80vh;
}

.boutton-tournoi {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: var(--bleu-fonce);
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 18px;
}

.boutton-tournoi:hover {
    background-color: var(--bleu-clair);
    color: var(--color-text-black)
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .flex-container-tournoi {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 10vw;
  }

  .text-container-tournoi, .image-container-tournoi {
    display: flex;
    width: 80vw;
    margin: 0;
    padding: 0;
  }

  .image-container-tournoi img {
    margin: auto;
    max-width: 100vw;
  }
}
/************************************/
/*                 Carousels        */
/************************************/
#association-galerie {
  background-color: var(--bleu-clair);
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
#association-galerie h2 {
  display: flex;
  justify-content: center;
}
#association-galerie div {
  justify-content: space-around;
}

.owl-carousel img {
  width: 30vw;
      height: auto;
}

@media (max-width: 900px) {
  #association-partie {
      display: flex;
      flex-direction: column;
  }
  #association-partie h1 {
      margin: 2rem 0 1rem;
  }
  #association-partie p, .img-texte p {
      padding: 0 0;
  }
  section img {
      height: 35vh;
      height: auto;
  }
  .ligne-membres {
      flex-direction: column;
      align-items: center;
      margin: 0;
  }
  .img-membres {
      width: 25vw;
  }
  .img-texte {
      flex-direction: column;
  }
  .img-texte article {
      text-align: center;
  }
  #association-galerie div {
      flex-direction: column;
      align-items: center;
  }
}


 /**************************************/
  /*                 Tableau          */
  /**************************************/
  .title {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .container-tableau {
    display: flex;
    justify-content: space-around;
  }
  
  #table1 {
    width: 25%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    color: var(--color-text-white);
  }
  
  #table2 {
    width: 25%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    color: var(--color-text-white);
  }
  .cellule {
    height: 50px;
    background-color: var(--vert);
    border: 1px solid var(--color-text-black);

  }
  
  .boutton-tournoi2 {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: var(--bleu-fonce);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 18px;
  }
  
  .boutton-tournoi2:hover {
    background-color: var(--bleu-clair);
    color: var(--color-text-black)
  }
 /* Media Queries */
@media screen and (max-width: 600px) {
  .container-tableau {
      display: flex;
      align-items: center;
  }

  #table1, #table2 {
    width: 45%;
    margin: 2.5%; 
  }
}
  /**************************************/
  /*                 Responsive          */
  /**************************************/

 /* Styles pour les écrans de taille moyenne et grande */
 @media screen and (max-width: 600px) {
  .flex-container, .flex-container-tournoi, .container-tab, .container-tableau {
      flex-direction: column ;
  }
}
  
/*******************************/
/*         ASSOCIATION         */
/*******************************/

#association-partie {
	display: flex;
	gap: 3%;
	margin: 4em 20vw;
}

#association-partie article {
	display: flex;
	flex-direction: column;
}

#association-partie p, .img-texte p {
	padding: 3em 5em;
}

#association-partie h1 {
	padding: 20px 0 0 0;
}

section img {
	height: 40vh;
}

#association-membres {
	background-color: var(--bleu-clair);
	padding: 2em 0;
	display: flex;
	flex-direction: column;
}

.img-membres {
	width: 9vw;
	height: auto;
	border-radius: 50%;
}

.ligne-membres {
	display: flex;
	justify-content: space-around;
	margin: 1rem 5rem;
}

.img-texte {
	display: flex;
	gap: 5%;
	margin: 4em 20vw;
	align-items: center;
}

.img-texte article {
	display: flex;
	align-items: center;
}

.citations article {
	object-fit: cover;
    text-align: justify;
    background: url(../img/quotation.png) no-repeat;
    background-size: contain;
    background-position: center center;
}

#association-galerie {
	background-color: var(--bleu-clair);
	display: flex;
	flex-direction: column;
	padding: 3rem;
}

#association-galerie h2 {
	display: flex;
	justify-content: center;
}

#association-galerie div {
	justify-content: space-around;
}

.expo-membres {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.owl-carousel img {
	width: 30vw;
		height: auto;
}

@media (max-width: 1500px){
	.citations article {
		background: none;
	}
}

@media (max-width: 900px) {

	#association-partie {
		display: flex;
		flex-direction: column;
	}

	#association-partie h1 {
		margin: 2rem 0 1rem;
	}

	#association-partie p, .img-texte p {
		padding: 0 0;
	}

	section img {
		height: 35vh;
		height: auto;
	}

	.ligne-membres {
		flex-direction: column;
		align-items: center;
		margin: 0;
	}

	.img-membres {
		width: 25vw;
	}

	.img-texte {
		flex-direction: column;
	}
	
	.img-texte article {
		text-align: center;
	}
	
	#association-galerie div {
		flex-direction: column;
		align-items: center;
	}
}

/********************************/
/*             FORM             */
/********************************/

#formulaire {
	background-color: var(--bleu-clair);
	padding: 5vw 0;
}

/* admin */
#formulaire-administration {
	background-color: var(--bleu-clair);
	padding: 8vw 0;
}

#formulaire-modifetadd h2 {
	font-style: italic;
	color: var(--bleu-clair);
	text-align: center;
}

/* fin admin */

form {
	background-color: var(--color-text-white);
	border-radius: 30px;
	padding: 2vw;
	width: 50vw;
	margin: auto;
}

.groupe-input {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;
}

.groupe-input.ligne-demi {
	flex-direction: row;
	gap: 4%;
}

.demi-ligne {
	width: 48%;
}

.groupe-input.ligne-entiere {
	width: 100%;
}

label {
	font-weight: 500;
	margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select,
textarea {
	border: 2px solid var(--bleu-clair);
	border-radius: 20px;
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
	height: 40px;
}

select {
	text-transform: uppercase;
	font-size: medium;
}

textarea {
	height: 100px;
}

form p {
	font-weight: lighter;
	font-size: small;
}

#submit-div,
form p {
	text-align: center;
}

input[type="submit"] {
	margin-top: 1em;
	padding: 1% 10%;
	background-color: var(--bleu-clair) !important;
	color: var(--color-text-white);
	font-size: x-large;
	font-weight: bold;

	border: none;
	border-radius: 20px;
	text-transform: uppercase;
}

input[type="submit"]:hover {
	background-color: var(--bleu-fonce) !important;
	cursor: pointer;
}

input[type="checkbox"] {
	accent-color: var(--bleu-clair);
	height: 15px;
	width: 15px;
}

input[type="checkbox"]:hover {
	accent-color: var(--bleu-fonce);
}

@media (max-width: 780px) {

	form {
		width: 80vw;
	}

	.groupe-input.ligne-demi {
		flex-direction: column;
	}

	.groupe-input.ligne-demi .demi-ligne {
		width: 100%;
	}

	.groupe-input.ligne-demi .demi-ligne:not(:first-child) {
		margin-top: 30px;
	}
}

/********************************/
/*             JEUX             */
/********************************/

aside{
	float: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 30%;
	height: 300px;
}

/*********************************/
/*            TOURNOI            */
/*********************************/

.card-body {
	text-align: center;
}

.explication-jeu article {
	flex-direction: column;
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.explication-jeu article p {
	object-fit: cover;
	text-align: justify;
	background: url(../img/flocon-bleu.png) no-repeat;
	background-size: contain;
	background-position: center center;
}

#partieMembres img {
	object-fit: cover;
}

.debut-tournoi {
	margin: 2em 5em;
	text-align: center;
}

.debut-tournoi h1 {
	padding: 25px;
}

.tournoi-text {
	text-align: center;
	font-size: large;
}

.btn-primary {
	background-color: var(--bleu-fonce) !important;
	text-align: center;
	border: none !important;
} 

/********************************/
/*         PLAN DU SITE         */
/********************************/

#liste {
	margin: 50px 0;
}

#liste a {
	text-decoration : none;
	color: var(--color-text-black);
}

#liste a:hover {
	color: var(--bleu-clair);
}

#liste li {
	margin: 2vw;
}

/********************************/
/*       MENTIONS LEGALES       */
/********************************/

#mentions {
	margin: 50px 30vw;
	text-align: justify center;
}

#mentions h2 {
	font-style: italic;
	color: var(--bleu-clair);
	text-align: center;
	font-size:large;
	margin-top: 50px;
}

#mentions span p {
	color: var(--bleu-clair);
	text-align: center;
}

@media (max-width: 1280px) {

	#mentions {
		margin: 50px 15vw;
	}
}
