:root{
	/* couleurs de bases */
	--bleu-fonce: rgb(35 53 96);
	--bleu-clair: rgb(105 146 180);
	--color-text-black: rgb(0 0 0);
	--color-text-white: rgb(255 255 255);
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: var(--bleu-fonce);
	text-align: center;
	font-size: xx-large;
}

/*******************************/
/*       HEADER & FOOTER       */
/*******************************/

header, footer {
	background-color: var(--bleu-fonce);
	padding: 0 5vw 0 2vw;
}

nav, footer article {
	display: flex;
	align-items: center;
}

nav a, footer a {
	padding: 14px 16px;
	margin-right: 9px;
	text-decoration: none;
	color: var(--color-text-white);
	text-transform: uppercase;

	transition: width 0.3s;
	-webkit-transition: width 0.3s;
}

nav a:not(:first-child)::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: var(--color-text-white);
	transition: width 0.3s;
}

nav a:not(:first-child):hover::after {
	width: 100%;
}

.videlarge {
	flex-grow: 1;
}


/********************************/
/*             FORM             */
/********************************/

#formulaire {
    background-color: var(--bleu-clair);
    padding: 5vw 10vw;
}

/* admin */
#formulaire-administration {
	background-color: var(--bleu-clair);
    padding: 7vw 30vw;
}

form {
    background-color: var(--color-text-white);
    border-radius: 30px;
    padding: 2vw;
}

.groupe-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.groupe-input.ligne-demi{
	flex-direction: row;
	gap: 4%;
}

.half-width {
	width: 48%;
}

.groupe-input.ligne-entiere {
    width: 100%;
}

label {
    font-weight: 500;
	margin-bottom: 0.5em;
}

input[type="text"], input[type="email"], input[type="password"], select, textarea {
    border: 2px solid var(--bleu-clair);
    border-radius: 20px;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
	height: 40px;
}

select {
	text-transform: uppercase;
	font-size: medium;
}

textarea {
	height: 100px;
}

form p {
	font-weight: lighter;
	font-size: small;
}

#submit-div, form p {
	text-align: center;
}

input[type="submit"]{
	margin-top: 1em;
	padding: 1% 10% ;
	background-color: var(--bleu-clair) !important;
	color: var(--color-text-white);
	font-size: x-large;
	font-weight: bold;

	border: none;
    border-radius: 20px;
	text-transform: uppercase;
}

input[type="submit"]:hover{
	background-color: var(--bleu-fonce) !important;
	cursor: pointer;
}

input[type="checkbox"] {
	accent-color: var(--bleu-clair);
	height: 15px;
	width: 15px;
}

input[type="checkbox"]:hover{
	accent-color: var(--bleu-clair);
}